<div class="node-wrapper">
  <div class="node-left">
    <button
      mat-icon-button
      matTreeNodeToggle
      color="primary"
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.mainNode">
        {{ node.icon }}
      </mat-icon>

      <mat-icon class="mat-icon-rtl-mirror" *ngIf="!node.mainNode && !!node.children">
        {{ control.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <p class="node-label" (click)="filterGames(node.name)">
      {{ node.name }}
    </p>
  </div>
  <div class="node-right">
    <button
      mat-icon-button
      color="accent"
      class="pin-icon"
      [ngClass]="{ pinned: node.pinned }"
      (click)="pinNode()"
    >
      <mat-icon>
        {{ "push_pin" }}
      </mat-icon>
    </button>
  </div>
</div>
