.node-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.node-wrapper:hover {
  background-color: #c8cff7;
  cursor: pointer;
}

.node-left {
  display: flex;
  align-items: center;
}

.node-label {
  line-height: normal;
  margin: 0 !important;
  cursor: pointer;
}

.pin-icon {
  display: none;
}

.pin-icon.pinned {
  display: block;
}

.node-wrapper:hover .pin-icon {
  display: block;
}
